
.main-container{
  background-color: #0C0C0C;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Media queries for responsiveness */
/* Small devices (phones) */
@media screen and (max-width: 576px) {
  .page-container {
    padding: 10px;
  }
}

/* Medium devices (tablets) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .page-container {
    padding: 20px;
  }
}

/* Large devices (small laptops and tablets in landscape) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .page-container {
    padding: 30px;
  }
}

/* Extra large devices (desktops and large laptops) */
@media screen and (min-width: 993px) {
  .page-container {
    padding: 40px;
  }
}
